
<h2>Create a New Question:</h2>
  <div class="form">
    <%= form_for :question, url: { action: "create"} do |f| %>
      <%= f.text_area :question_text, :placeholder=> "Enter Question Here" %><br>
      <%= render "tag" %>
        <button class="add_tag" type="button">Add Tag</button><br>

      <%= f.submit "Submit"%>

    <% end %>
  </div>


