<div class="all_user_display">

  <h1><center><strong>TravelFlowers</strong></center></h1>

    <% @users.each do |user| %>
      <p><%= link_to image_tag(user.gravatar_url), user_path(user) %> 
      <%= user.name %><br>
      
      <strong>Questions:</strong><br>
        <% if user.questions == nil %>
         <p>(<%= user.name %> has not asked any questions yet!)
        <% else %>
          <% user.questions.each do |question| %> 
          &nbsp&nbsp<%= question.question_text %><br>
        <% end %>
          <% end %>
        <br>
    <% end %>

</div>
