<h1>TravelFlow Travelers</h1>

<div class="all_user_display">
  <% @users.each do |user| %>
    <p><%= image_tag user.gravatar_url  %>
    <%= user.name %><br>
    
    <strong>Questions:</strong><br>
    <% if user.questions == nil %>
      <p>(<%= user.name %> has not asked any questions yet!)
    <% else %>
      <% user.questions.each do |question| %>
        
        &nbsp&nbsp<%= question.question_text %><br>
    <% end %>
        <% end %>
        <br>
  <% end %>

</div>
