header{
  background-color: #4602B3;
  line-height: 40px;
}

.ajax_form{
  padding-right: 20px;
  float: right;
}

header li{
  list-style: none;
  display: inline;

}

header li a{
  text-decoration: none;
  color:white;
}
.container{
  margin: auto;
  width: 85%;
}
